{% extends 'Parent.html' %}
{% block body %}
<section id="service" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Services</h2>
              <div class="divider-header"></div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <div class="container">

        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="wow fadeInLeft" data-wow-delay="0.2s">
              {% block content %}
                {% if Usertype == 1 %}
                  <div class="service-box">
                    <div class="service-icon">
                    <span class="pe-7s-monitor pe-5x"></span>
                    </div>
                    <div class="service-desc">
                      <h5>Create User</h5>
                      <p>
                        Create and monitor the users in system
                      </p>
                      <a href="#" class="btn btn-skin">Learn more</a>
                    </div>
                  </div>
                {% endif %}
              {% endblock content %}


            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
              <div class="service-box">
                <div class="service-icon">
                  <span class="pe-7s-note pe-5x"></span>
                </div>
                <div class="service-desc">
                  <h5>Statistics</h5>
                  <p>
                    With the help of data visualization you will get the clear view of causes of Road Accidents
                  </p>
                  <a href="/Stat" class="btn btn-skin">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
              <div class="service-box">
                <div class="service-icon">
                  <span class="pe-7s-phone pe-5x"></span>
                </div>
                <div class="service-desc">
                  <h5>Accident Predictor</h5>
                  <p>
                    Predict the percentge of occurance of road accident from the information like Destination and weather
                  </p>
                  <a href="/Predictor" class="btn btn-skin">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="wow fadeInRight" data-wow-delay="0.2s">
               {% block content1 %}
                {% if Usertype == 1 %}
                  <div class="service-box">
                    <div class="service-icon">
                      <span class="pe-7s-phone pe-5x"></span>
                    </div>
                    <div class="service-desc">
                    <h5>Train Model</h5>
                    <p>
                      Train the model from the data provided by the RTA
                    </p>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                  </div>

                {% endif %}
              {% endblock content1 %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}