<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Predictor</title>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
      <script type="text/javascript" src="{{ url_for('static',filename='JS/index.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='JS/Chart.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
      <script type="text/javascript" src="{{ url_for('static',filename='JS/jquery.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='JS/carrotsearch.foamtree.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='JS/hammer.min.js') }}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
      <link href="{{ url_for('static',filename='css/default.css') }}" rel="stylesheet">
</head>
<body>
<!--style="background-image: url({{ url_for('static', filename='Images/download.jpg') }})"-->
 <div id="navigation">
    <nav class="navbar navbar-custom header" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 mob-logo">
            <div class="row">
              <div class="site-logo">
                <a href="/Index"><img src="{{url_for('static',filename='Images/logo.png')}}" alt="" /></a>
              </div>
            </div>
          </div>


          <div class="col-md-10 mob-menu">
            <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                  <i class="fa fa-bars"></i>
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="/Index">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="/Index">Services</a></li>
                  <li><a href="/SignOut">SignOut</a></li>
                </ul>
              </div>
              <!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
 {% block body %}{% endblock %}
</body>
</html>